<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxian.mapper.HelloMapper">
    <select id="selectHello" resultType="java.util.Map">
        select uuid,mima from t_user where nc=#{NC}
    </select>
</mapper>
